*{
    margin:0;
    padding: 0;
}
#game{
    width:300px;
    height: 500px;
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
}
#character{
    width:100px;
    height: 100px;
    background-color: red;
    position: relative;;
    top: 400px;
    left: 100px;
}
#block{
    width: 100px;
    height: 100px;
    background-color:black;
    position: relative;
    animation:slide 0.75s infinite linear;
}
#white{
    width:500px;
    height:120px;
    background-color:white;
    position:absolute;
    top:500px;
}
#left::before{
    content: "<=";
    position: absolute;
    top:80%;
    left:20%;
    background-color: orangered;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 50px;
    border-radius:50%;
}
#right::before{
    content: "=>";
    position: absolute;
    top:80%;
    right:20%;
    background-color: orangered;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 50px;
    border-radius:50%;
}
#replay{
    width:50px;
    height:50px;
    position:absolute;
    top:80%;
    left:40%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid black;
    border-radius:50%;
    cursor: pointer;
}
@keyframes slide{
    0%{top:-100px}
    100%{top:500px;}
}